In [1]:
import pandas as pd

In [39]:
dat = pd.read_csv("Wholesale_customers.data", header=None).sample(frac=1).reset_index(drop=True)

In [32]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       199 non-null    float64
 1   1       199 non-null    float64
 2   2       199 non-null    float64
 3   3       199 non-null    float64
 4   4       199 non-null    float64
 5   5       199 non-null    float64
 6   6       199 non-null    float64
 7   7       199 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 12.6 KB

In [37]:
dat[7].unique()

array([3, 2, 1])

In [40]:
dat

     0  1      2      3      4      5      6     7
0    1  3  31012  16687   5429  15082    439  1163
1    1  3  11635    922   1614   2583    192  1068
2    1  2  17327   2374   2842   1149    351   925
3    2  2   9759  25071  17645   1128  12408  1625
4    2  3   2343   7845  11874     52   4196  1697
..  .. ..    ...    ...    ...    ...    ...   ...
435  1  3  21632   1318   2886    266    918   405
436  1  3  11535   1666   1428   6838     64   743
437  1  3   4627    997   4438    191   1335   314
438  1  3  16731   3922   7994    688   2371   838
439  1  3   8708   3634   6100   2349   2123  5137

[440 rows x 8 columns]